<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Digi REST Home Page</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<h1>Digi REST Home Page</h1>

<h2>Questionnaire by id:</h2>

<div style="padding:10px;">
<p><strong>Method: </strong>GET <strong>Endpoint: </strong>(/questionnaires/{id}) <a th:href="@{/questionnaires/1}">/questionnaires/1</a></p>
<p><strong>JSON Example: </strong></p>
<pre><code>
{
 "questionnaireId": 1,
 "name": "test1",
 "questionnaireInfo": "Test Questionnaire",
 "questionList":
 [
  {
  "questionId": 2,
  "questionText": "Koulutusohjelma?",
  "answerList":
  [
   {
    "answerId": 7,
    "answerText": "Digi"
   }
  ]
 },
 {
  "questionId": 3,
  "questionText": "Ikä?",
  "answerList":
   [
    {
     "answerId": 8,
     "answerText": "25"
    }
   ]
  }
 ]
}

</code></pre>
</div>

<h2>Question by id:</h2>

<div style="padding:10px;">
<p><strong>Method: </strong>GET <strong>Endpoint: </strong>(/questions/{id}) <a th:href="@{/questions/2}">/questions/2</a></p>
<p><strong>JSON Example: </strong></p>
<pre><code>
 {
  "questionId": 2,
  "questionText": "Koulutusohjelma?",
  "answerList":
  [
   {
    "answerId": 7,
    "answerText": "Digi"
   }
  ]
 }
</code></pre>
</div>

<h2>Save new Answer</h2>

<div style="padding:10px;">
<p><strong>Method: </strong>POST <strong>Endpoint: </strong><a th:href="@{/answers}">/answers</a></p>
<p><strong>JSON Example: </strong></p>
<pre><code>
 {
  "answerText": "Some text",
  "question": {"questionId": 2}
 }
</code></pre>
</div>

</body>
</html>