<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Kysymykset</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body> 
	<table>
		<tr>
			<th th:text="${questionnaire.name}"></th>
		</tr>
		<tr th:each="question : ${questionnaire.questionList}">
			<td th:if="${question.questionType.name == 'Text'}" th:text="${question.questionText}">Question</td>
			<td th:if="${question.questionType.name == 'Checkbox'}" th:text="${question.questionText}">Question</td>
		</tr>
	</table>
	<a th:href="@{/questionnaire/{id}/addquestion(id=${questionnaire.questionnaireId})}">Lisää kysymys</a>
</body>
</html>